.main-body
{
  margin-top: 5vh;
}
.card img
{
  height: 25Vh;
  width: 49vh;
  padding: 2vh 2vh 2vh 2vh;
}
.card h5
{
  text-align: center;
}
.table-section img
{
  height: 35vh;
  width: 55vh;
}
.table-section
{
  margin-top: 10vh;
}
