.main-body
{
  margin-top: 5vh;
}
.card img
{
  height: 34Vh;
  width: 49vh;
  padding: 2vh 2vh 0vh 2vh;
}
.card h5
{
  text-align: center;
  padding-top: 0vh !important;

}
.table-section img
{
  height:75vh;
  width: 135vh;
}
.table-section
{
  margin-top: 10vh;
}
th
{
  text-align: center !important;
}
